@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
:root{
    --main-padding:2vh 15vw;
    --colorblue: #4da6ff;   
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.social-media{
    float: right;
    padding:var(--main-padding);
}
.social-media i{
    font-size: 23px;
}
.fa-facebook-square{
    color:#3399ff;
}
.fa-twitter-square,.fa-pinterest-square{
    color:#66b3ff;
}
.fa-google-plus-square{
    color:red;
}
.fa-linkedin{
    color:#4da6ff;
}
/* Header */
header.header{
    border-top:solid 1px rgba(0, 0, 0, 0.1);
    clear: both;
    display: flex;
    justify-content: space-between;
    padding:var(--main-padding);
}
/* logo */
.logo{
    display: flex;
}
.logo img{
    width: 12vw;
}
/*text du Logo */
.logotext h1{
    font-family: 'Merriweather';
    font-weight: 400;;
}
.logotext p{
    color: blue;
    font-size: 10px;
    position: relative;
    bottom: 8   px;
}
.logotext h1,.logotext p{
    margin: 0;
}
/* Navigation */
nav.nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 1.5vw;
}
nav a{
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    font-size: small;
}
.fa-chevron-down{
    position: relative;
    top: 1px;
    font-size: 10px;
    color: #3399ff;
}

/* main */
.pub{
    background:#4da6ff;
    width: 100%;
    height: 50vh;
    border: #bfbfbf solid 2px;
    padding: 0;
}
.pub h4{
    margin: 0;
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
}
.ourdesign{
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
}
.ourdesign img{
    width: 30%;
    height: 40vh;
}
/* ourcompany */
.ourcompany{
    display: flex;
    justify-content: space-between;
    padding:var(--main-padding);
    margin: 10vh 0 5vh 0;
}
.logoservice{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.ourcompanyabout{
    width: 50%;
    color: #999999;
    font-size: 13px;
}
.logoservice .item{
    width: 30%;
}
.item{
    text-align: center;
    position: relative;
}
.item::before{
    content: "";
    width: 4vw;
    height: 0.5vh;
    background-color: var(--colorblue);
    position: absolute;
    bottom: 7vh;
    left: 2vw;
}
.item i{
    font-size: 70px;
    color: #4da6ff;
}
.item .commentaire{
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.7;
}

.ourcompanyabout h5,.aboutbiztechstext h5{
    position: relative;
}
.ourcompanyabout h5::after{
    content: "";
    width: 5vw;
    height: 0.4vh;
    background-color: var(--colorblue);
    position: absolute;
    bottom: -7px;
    left: 0;
}
.ourcompanyabout p,.aboutbiztechstext p{
    margin:5px 0 ;
}
/* About Biztechs */
.biztechsaboutsection{
    padding: var(--main-padding);
}
.biztechsaboutdiv{
    display: flex;
    justify-content: space-between;
}
.aboutbiztechstext{
    width: 50%;
    color: #999999;
    font-size: 13px;
}
.biztechsaboutsection h5{
    position: relative;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
}
.biztechsaboutsection    h5::after{
    content: "";
    width: 7.2vw;
    height: 0.4vh;
    background-color: var(--colorblue);
    position: absolute;
    bottom: -7px;
    left: 0;
}
.biztechs{
    color: black;
    opacity: 0.7;
}
.Aboutbiztechsimg img{
    width: 70%;
}
/* Footer */
footer{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2vh 1vw 2vh 15vw;
    background-color: var(--colorblue);
    height: 3vh;
    color: #FFF;
}
.copyright a{
    text-decoration: none;
    color: #404040;
}
div.nav ul{
    display: flex;
    position: relative;
    bottom: 7px;
}
div.nav li{
    margin-left: 7px;
    list-style: none;
}
div.nav a,.scroll a{
    color: #FFF;
    text-decoration: none;
}